#sections {
    position: relative;
    display: inline-block;
    width: 30%;
    top: 0;
    z-index: 90;
    padding-bottom: 200px;
}

#sections .slide {
    margin-bottom: 200px;
    font-family: "TiemposTextWeb-Regular", "Georgia";
    font-size: 16px;
    line-height: 23px;
    color: #363648;
}

.slide {
    height: 90%;
    overflow-y: auto;
}

.slide > .prefix {
    height: 100px;
}

.slide > .chapter {
    font-family: Arial, Helvetica, "san-serif", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #262626;
    line-height: 1.5em;
}

.slide > .section {
    font-family: Arial, Helvetica, "san-serif", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #262626;
    line-height: 1.2em;
}

#page-footer {
    height: 10%;
}

#page-footer > div {
    text-align: center;
    padding: 10px;
    height: 100% border: black 10px;
    color: #444;
}

#page-footer > div > div {}

#extra-space {
    height: 50px;
}

#canvas {
    display: inline-block;
    position: fixed;
    top: 20px;
    z-index: 1;
    margin-left: 0;
    width: 65%;
    /* background-color: #d1d; */
}

#canvas-slide {
    z-index: 1;
    height: 100%;
    width: 100%;
}

#pager {
    bottom: 20px;
    left: 20px;
    position: fixed;
    z-index: 95;
    /* background-color: darkgrey; */
    border-bottom-color: darkslategray;
}
